{% extends "base.html" %}
{% load static %}

{% block content_class %}{% endblock content_class %}

{% block content %}
  <div id="mapid"></div>
{% endblock content %}

{% block extra_css %}
    {# https://leafletjs.com/ #}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

    {# https://github.com/uxsolutions/bootstrap-datepicker #}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
        integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous"/>

{% endblock %}
{% block extra_js %}
    {# https://leafletjs.com/ #}
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>

    {# https://github.com/MarcChasse/leaflet.Permalink #}
  <script src="{% static 'js/vendor/leaflet.permalink.js' %}"></script>

    {# https://github.com/uxsolutions/bootstrap-datepicker #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar_form %}
  <button type="button" class="btn btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#selectDateModal">
    Set Map Date
  </button>
{% endblock navbar_form %}

{% block modal %}
    <!-- Modal -->
  <div class="modal fade" id="selectDateModal" tabindex="-1" role="dialog" aria-labelledby="selectDateModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectDateModalLabel">Select Map Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline my-2 my-md-0">
            <input id="datepicker" type="text" class="form-control" value="{% now "d/m/Y" %}">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="datepicker-save-btn" type="button" class="btn btn-primary" data-dismiss="modal">Set Mapdate
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
